.container {

    text-align: -webkit-center;
    display: block;
    position: relative;

}

img {

    width: 351px;
    height: 113px;  

}

.search-box{

    width: 90%;
    height: 62px;
    background-color: rgb(238, 238, 238);
}
.search-button{

   
    text-align: center;
    font-size:small;
    background-color: rgb(238, 238, 238);
    text-align: center;
    border-width: 1px;
    border-radius: 2px;
    width:115px;
    padding: 2px 0 2px 0;
}

.link-box{

    text-align: center;
    margin: 2px auto;
    width: 90%;
   
}

.link-box1{
   
    width: 37%;
    background-color: #7EE5DA;
    float: left;
    height: 76px;
    text-align: center;  
   
}

.link-box2{
   
    background-color: #70CCC2;
    margin-left: 0.15%;
    width: 20%;
    font-size: small;
    float: left;
    height: 76px;
    text-align: center;
}

.link-box3{
  
    background-color: #62B3AA;
    width: 42.70%;
    margin-left: 0.15%;
    float: left;
    height: 76px;
    font-size: small;

 
}

.copyright{

    text-align: center;
    font-size: small;
    width: 90%;
    height: 50px;
    background-color:black ;
}
p{

    display: block;
    font-size: small;
    margin-top: 95px;
}